
body {background: whitesmoke}

.container {background-color: lightgrey;}

h1 {color:#ff3333;
    font: bold;
    font-size:50px}

h2 {color:navy}

hr {height: 1px;
    background: darkgray;}

p {align-content: center;}

.jumbotron {background-color:black}

/* #facts {align-items: center;} */

.btn {color:orange}

#mars-image {
    height: 180px;
    width: 200px;
    padding: 2px 16px;
}

#mars-title {
    font-size: large;
    color:navy;
    font-weight: 700;
}

#feature {
    height: 400px;
    width: 450px;
    float: center;
}

.card { max-width: 20rem;


}
grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
    }
    
    
