<!DOCTYPE html>
<html lang="en">

<!-- Set up and links -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>


<body>
    <div class="container">
        <div class="jumbotron text-center"> <!-- Start of header/button section -->
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-dark btn-lg" href="../scrape" role="button">Scrape New Data</a></p>
            <p><a id="date"><span style="color: orange" > <b>Last updated:</b></span> {{ mars.last_modified }} </a></p>
        </div>

        <div class="row" id="news"> <!-- Start of news section -->
            <div class="col-md-12">
                <div class="news">
                    <div class="news-body">
                    <grid-item><h2>Latest Mars News</h2></grid-item>
                    <grid-item><h4> {{ mars.news_title }}</h4></grid-item>
                    <grid-item><p>{{ mars.news_paragraph }}</p></grid-item>
                    </div>
                </div>
            </div>
        </div> <!-- End of news section -->
        <hr>
        <div class="row"> <!-- Start of image and facts section -->
            <div class="col-md-6">
                <div class="news-body">
                    <grid-item><h2>Featured Mars Image</h2></grid-item>
                    <grid-item><img id="feature" src="{{ mars.featured_image }}"></grid-item>
                </div>
            </div>

            <div class="col-md-6">
                <div class="news-body">
                    <grid-item><h2 id="facts"> Mars Facts</h2></grid-item>
                    <div class="card-body table-responsive ">
                    <grid-item>  {{mars.facts | safe}} </grid-item>
                    </table>
                    </div>
                </div> 
            </div> 
        </div> <!-- End of featured image and facts section -->
        <hr>
        <div class="container">
            <grid-item><h2>Mars hemisphere images</h2></grid-item>
            <br>
            <div class="row">

                {% for hemisphere in mars.hemispheres%} 
                <div class="col-md-3">
                    <div class="card border-primary mb-3 text-center" style="max-width: 15rem;">
                        <grid-item><img id="mars-image" src="{{ hemisphere.img_url }}" class="rounded"></grid-item>
                        <br><p id="mars-title" >{{ hemisphere.title }}</p><br>
                    </div>
                </div>
                {% endfor %}

                </div> <!-- End of row class -->        
            </div> <!-- End of hemisphere container -->
            
        </div> <!-- End of main container -->

</body>
</html>
